<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View / Edit Tasks</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_edit.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  </head>
  <body id='body'>
    <div class="button-outer-wrapper">
      <div class="button-inner-wrapper">
        <div class="button-wrapper">
          <a class="button" href="index.html">Home</a>
        </div>
        <div class="button-wrapper">
          <a class="button" href="view_edit_tasks.html">Job Database</a>
        </div>
      </div>
    </div>
    <div>
      <div id="new-job-task"></div>
      <div id="new-job-area"></div>
      <div id="new-job-hole"></div>
      <div id="new-job-freq"></div>
      <div id="new-job-comments"></div>
      <div id="new-job-due-date"></div>
    </div>
  </body>
  </html>