<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Royal Scot Golf Maintenance Scheduler</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  </head>
  <body id="body">
    <div class="button-outer-wrapper">
      <div class="button-inner-wrapper">
        <div class="button-wrapper"><a class='button' href="view_schedule.html">View Schedule</a></div>
        <div class="button-wrapper"><a class='button' href="log_entry.html">Log Task</a></div>
        <div class="button-wrapper"><a class='button' href="view_edit_tasks.html">View / Edit Tasks</a></div>
      </div>
    </div>
  </body>
</html>